@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma,Arial, sans-serif;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"], button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #000100;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

input[type=submit], input[type=button], button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* titles */
p {
  font-size: 1em;
  line-height: 1.1em;
  padding: 0;
  font-weight: 400;
  color: #17202f; }

h1 {
  font-size: 2em;
  line-height: 1.1em;
  padding: 0px 0 0px 0;
  font-weight: 400;
  color: #17202f; }

h2 {
  font-size: 1.8em;
  line-height: 1.1em;
  padding: 0;
  font-weight: 400;
  color: #17202f; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/*@font-face {
font-family: "Roboto-Light";
  src: url("../font/Roboto-Light.eot");
  src: local('☺'), 
  url("../font/Roboto-Light.eot?#iefix") format("embedded-opentype"), 
  url("../font/Roboto-Light.woff") format("woff"),
  url("../font/Roboto-Light.ttf") format("truetype"), 
  url("../font/Roboto-Light.svg#RobotoLight") format("svg");

  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: "Roboto-Regular";
  src: local("☺"), url("../font/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Light";
  src: local("☺"), url("../font/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Medium";
  src: local("☺"), url("../font/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "arial-rounded-mt-bold";
  src: local("☺"), url("../font/arial-rounded-mt-bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Bold";
  src: local("☺"), url("../font/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Thin";
  src: local("☺"), url("../font/Roboto-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Medium";
  src: local("☺"), url("../font/Roboto-Medium.ttf") format("truetype"); }

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  min-height: 100%; }

.wrapper {
  min-width: 320px;
  max-width: 1890px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }

/*
================================================================================
|                                     MAIN STYLES                                     |
================================================================================
*/
header {
  width: 100%;
  min-width: 320px;
  text-align: left;
  z-index: 1; }

.logo {
  float: left;
  margin-top: 20px;
  margin-bottom: 15px; }

.form_search {
  width: 280px;
  float: right;
  margin-top: 32px;
  position: relative; }
  .form_search .search_input {
    height: 35px;
    width: 100%;
    padding: 0 35px 0 20px;
    border: 1px solid #b0d7de;
    border-radius: 30px; }
  .form_search .search_submit {
    width: 30px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../image/search_icon.png);
    background-repeat: no-repeat;
    background-position: 4px 11px;
    border-radius: 0 20px 20px 0px;
    border: 0; }

.header_phone {
  float: left;
  margin-top: 38px;
  margin-left: 13.49%; }
  .header_phone p {
    float: left;
    font-size: 18px;
    font-family: Roboto-Regular;
    color: #ff0099; }
  .header_phone span {
    font-size: 11px;
    font-family: Roboto-Regular;
    color: #999999; }

.header_line {
  background: #f5f5f5; }
  .header_line .line_time p {
    text-align: center;
    line-height: 32px;
    font-size: 13px;
    font-family: Roboto-Light;
    color: #999999; }

nav {
  background: #6cb9da;
  position: relative; }
  nav:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    margin: 0 1px;
    top: 4px;
    left: 0;
    border-bottom: 1px dashed #4b99bb; }
  nav:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 4px;
    left: 0;
    border-bottom: 1px dashed #4b99bb;
    z-index: 10; }

.main_menu {
  float: left;
  width: 89%; }
  .main_menu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .main_menu li {
    display: block; }
    .main_menu li:first-child {
      margin-left: 0px; }
    .main_menu li a {
      text-align: center;
      line-height: 50px;
      font-family: Roboto-Regular;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase; }
      .main_menu li a:hover {
        color: #006699; }

.cart_block {
  width: 135px;
  float: right;
  padding: 11px 0 11px 53px;
  background: linear-gradient(2deg, #ff2da2 0%, #ff61b9 100%);
  position: relative; }
  .cart_block:after {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    left: 12px;
    width: 29px;
    height: 27px;
    background: url(../image/basket_icon.png);
    background-position: 0 0;
    background-repeat: no-repeat; }
  .cart_block p {
    font-size: 14px;
    font-family: Roboto-Medium;
    color: #fff;
    text-transform: uppercase; }
  .cart_block span {
    font-size: 11px;
    font-family: Roboto-Light;
    color: #fff;
    text-transform: lowercase; }

.bottom_line p {
  line-height: 30px;
  text-align: left;
  font-size: 12px;
  font-family: Roboto-Light;
  color: #ff0099; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  height: 400px;
  width: 100%;
  min-width: 320px; }

/*
================================================================================
|                                     GENERAL_PAGE                                 |
================================================================================
*/
.general_page {
  float: left;
  margin-top: 35px;
  margin-left: 20px;
  width: 68%; }

.main_slider .slick-slide {
  position: relative; }

.main_slider img {
  width: 100%; }

.main_slider .slider_action {
  position: relative; }
  .main_slider .slider_action:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 115px;
    height: 116px;
    background: #000;
    background: url(../image/action_max.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 100; }

.slider_text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0 80px;
  z-index: 10; }
  .slider_text p {
    line-height: 30px;
    font-family: Arial;
    font-size: 20px;
    color: #006699; }
  .slider_text span {
    color: #ff0099; }
  .slider_text .baner_title {
    line-height: 40px;
    margin-bottom: 25px;
    margin-top: 115px;
    font-family: Arial;
    font-size: 38px;
    text-transform: uppercase;
    color: #006699; }
  .slider_text .btn_more {
    display: block;
    margin-top: 40px;
    width: 188px;
    height: 55px;
    border-radius: 40px;
    text-align: center;
    padding-top: 19px;
    text-transform: uppercase;
    background: linear-gradient(2deg, #ff2da2 0%, #ff61b9 100%);
    font-size: 16px;
    font-family: Roboto-Regular;
    color: #fff; }

/*
================================================================================
|                                     RIGHT_SIDEBAR                               |
================================================================================
*/
.right_sidebar {
  width: 248px;
  float: right; }

.right_links .link_block {
  width: 100%;
  height: 65px;
  margin-bottom: 8px;
  padding: 11px 0 0 105px;
  position: relative;
  background: #cbebf3;
  border-radius: 7px; }
  .right_links .link_block:before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 95%;
    height: 56px;
    border-radius: 7px;
    border: 1px dashed #93c8dd;
    z-index: 10; }
  .right_links .link_block:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 25px;
    width: 54px;
    height: 42px;
    background-image: url(../image/right_sidebar_link.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
  .right_links .link_block p {
    font-family: Arial;
    font-size: 21px;
    color: #006699; }
  .right_links .link_block span {
    font-family: Arial;
    font-size: 13px;
    color: #006699; }

.right_links .right_payment:after {
  width: 62px;
  height: 50px;
  top: 14px;
  left: 30px;
  background-image: url(../image/right_sidebar_link.png);
  background-repeat: no-repeat;
  background-position: 0 -41px; }

.right_links .right_payment span {
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase; }

.right_sicial {
  margin-top: 17px; }
  .right_sicial p {
    float: left;
    margin-right: 17px;
    margin-left: 6px;
    line-height: 18px;
    font-family: Arial;
    font-size: 12px;
    color: #006699;
    text-transform: uppercase; }
  .right_sicial li {
    display: inline-block; }
  .right_sicial a {
    display: block;
    height: 33px;
    width: 33px;
    background: url(../image/right_sicial.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
  .right_sicial .link_in {
    width: 31px;
    background-position: -33px 0; }
  .right_sicial .link_od {
    width: 31px;
    background-position: -64px 0; }
  .right_sicial .link_f {
    background-position: -95px 0; }

.brends {
  margin-top: 20px;
  border: 1px dashed #acddf3;
  border-radius: 7px; }
  .brends .brends_title {
    padding: 20px 0 21px 25px;
    text-align: left;
    font-family: Arial;
    font-size: 18px;
    color: #006699;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: 1px solid #dfedf4; }

.filter_table {
  box-sizing: border-box;
  padding: 0 25px 10px 25px;
  border-bottom: 1px solid #dfedf4; }
  .filter_table .col_header {
    padding: 20px 0;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #333333; }
  .filter_table a {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 12px;
    font-family: Roboto-Light;
    font-size: 12px;
    text-transform: uppercase;
    color: #ff0099; }
    .filter_table a:hover {
      color: #006699; }

.flag_filter {
  overflow: auto;
  margin: 20px;
  width: 85%;
  height: 545px; }
  .flag_filter li {
    list-style: none;
    margin-bottom: 20px; }
  .flag_filter a {
    position: relative;
    top: -4px;
    padding-left: 10px;
    font-family: Roboto-Light;
    font-size: 14px;
    color: #333333; }

.flag_filter::-webkit-scrollbar {
  width: 3px; }

.flag_filter::-webkit-scrollbar-track {
  background: #e8e8e8; }

.flag_filter::-webkit-scrollbar-thumb {
  background-color: #7cc8e9; }

.right_baner_action {
  width: 100%;
  margin-top: 23px;
  padding: 20px;
  padding-top: 10px;
  position: relative;
  background: url(../image/right_baner.png);
  background-size: cover; }
  .right_baner_action:before {
    content: '';
    display: block;
    width: 95%;
    height: 97%;
    position: absolute;
    margin: 0 1px;
    top: 6px;
    left: 5px;
    border: 1px dashed #8bcae6;
    border-radius: 10px;
    z-index: 0; }
  .right_baner_action img {
    display: block;
    text-align: right;
    padding: 0 0 15px 60px;
    clear: both; }
  .right_baner_action:after {
    content: '';
    width: 83px;
    height: 82px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../image/seil.png);
    background-repeat: no-repeat; }
  .right_baner_action h3 {
    line-height: 23px;
    margin-bottom: 15px;
    font-family: Roboto-Medium;
    font-size: 18px;
    color: #333333; }
  .right_baner_action p {
    margin-bottom: 20px;
    font-family: Roboto-Thin;
    font-size: 13px;
    color: #333; }
  .right_baner_action a {
    position: relative;
    z-index: 2;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #ff0099; }
    .right_baner_action a:hover {
      color: #006699; }

.right_baner_seil {
  margin-top: 25px;
  padding: 20px;
  position: relative;
  border: 1px dashed #ff0099;
  border-radius: 10px; }
  .right_baner_seil:after {
    content: '';
    width: 56px;
    height: 55px;
    position: absolute;
    top: -1px;
    right: -1px;
    background-image: url(../image/action.png);
    background-repeat: no-repeat; }
  .right_baner_seil:before {
    content: '-20%';
    position: absolute;
    top: 12px;
    right: 3px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #fff;
    z-index: 10;
    -ms-transform: rotate(40deg);
        transform: rotate(40deg); }
  .right_baner_seil h4 {
    line-height: 24px;
    margin-bottom: 15px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #333333; }
  .right_baner_seil p {
    margin-bottom: 20px;
    font-family: Roboto-Thin;
    font-size: 13px;
    color: #333; }
  .right_baner_seil a {
    position: relative;
    z-index: 2;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #ff0099; }
    .right_baner_seil a:hover {
      color: #006699; }

/*
================================================================================
|                                     SIDEBAR                                 |
================================================================================
*/
.sidebar {
  float: left;
  width: 248px;
  margin-bottom: 350px; }

.sidebar_title {
  margin-bottom: 15px;
  font-family: Arial;
  font-size: 21px;
  color: #006699;
  text-transform: uppercase; }

.ac-container {
  width: 100%;
  margin-bottom: 25px; }

.ac-container label {
  position: relative;
  z-index: 20;
  display: block;
  padding-left: 15px;
  padding-right: 20px;
  margin-bottom: 2px;
  line-height: 37px;
  font-family: Roboto-Regular, Arial, sans-serif;
  font-size: 14px;
  background: linear-gradient(#85c7e2 0%, #57aed3 100%);
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  animation: all 0.3s linear; }
  .ac-container label:hover {
    background: linear-gradient(#ff62ba 0%, #ff2ea2 100%); }
  .ac-container label:after {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    right: 13px;
    width: 8px;
    height: 5px;
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    background: url(../image/arrow.png);
    background-position: 0 0;
    background-repeat: no-repeat; }

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  animation: all 0.3s linear;
  color: #fff;
  background: linear-gradient(#ff62ba 0%, #ff2ea2 100%); }

/*.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	top: 13px;
    right: 13px;
    width: 15px;
    height: 9px;
    transform: rotate(0deg);
	background: url(../image/arrow.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}*/
.ac-container input:checked + label:after {
  top: 15px;
  right: 13px;
  width: 8px;
  height: 5px;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  background: url(../image/arrow.png);
  background-position: 0 0;
  background-repeat: no-repeat; }

.ac-container input {
  display: none; }

.ac-container article {
  transition: all 0.3s linear;
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  animation: all 0.3s linear; }

.ac-container input:checked ~ article {
  animation: all 0.3s linear; }

.ac-container article p {
  font-style: italic;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px; }

.article {
  height: auto; }
  .article a {
    display: inline-block;
    padding: 11px 10px 11px 29px;
    width: 100%;
    font-size: 13px;
    color: #0d6e9f;
    background: #cbebf3;
    border-bottom: 1px solid #dbf3fb; }
    .article a:hover {
      background: #e2f4f8; }

.ac-container input:checked ~ article.article {
  animation: all 0.3s linear;
  height: auto; }

.social_blocks {
  margin-bottom: 20px; }
  .social_blocks .sosial_link {
    width: 100%;
    height: 75px;
    display: block;
    margin-bottom: 7px;
    background: url(../image/social_icon.png); }
  .social_blocks .social_friends {
    background-position: 0 -75px; }
  .social_blocks .social_facebook {
    background-position: 0 -150px; }
  .social_blocks .social_vk {
    background-position: 0 -225px; }

.sidebar_articles {
  padding: 25px 22px 25px 22px;
  border: 1px dashed #acddf3;
  border-radius: 4px; }

.articles_title {
  margin-bottom: 4px;
  font-family: Arial;
  font-size: 21px;
  color: #006699;
  text-transform: uppercase; }

.list_article {
  padding: 25px 0;
  border-bottom: 1px solid #ebebeb; }
  .list_article a {
    line-height: 20px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #ff0099; }
    .list_article a:hover {
      text-decoration: underline;
      color: #006699; }
  .list_article .data {
    display: block;
    font-family: Roboto-Light;
    font-size: 12px;
    line-height: 25px;
    color: #999999; }
  .list_article p {
    line-height: 20px;
    font-size: 13px;
    font-family: Roboto-Thin;
    color: #333333; }

.yandex {
  box-sizing: border-box;
  margin-top: 25px;
  display: block;
  border: 1px solid #ff9900; }
  .yandex img {
    width: 100%; }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  height: 316px;
  width: 100%;
  min-width: 320px;
  text-align: left;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: url(../image/footer_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  footer .bottom_line {
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    background: #78c0dd; }
    footer .bottom_line p {
      margin-top: -33px;
      float: right;
      font-family: Roboto-Regular;
      font-size: 13px;
      color: #fff; }
  footer .footer_logo {
    float: left; }

.footer_navigation {
  padding: 55px 15px 25px 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer_navigation li {
    list-style: none;
    font-family: Roboto-Regular;
    color: #fff; }

.footer_block p, .footer_block a {
  line-height: 2;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #fff; }

.footer_block a:hover {
  color: #006699; }

.footer_social li {
  display: inline-block; }

.footer_social a {
  display: block;
  height: 33px;
  width: 33px;
  background: url(../image/right_sicial.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.footer_social .link_in {
  width: 31px;
  background-position: -33px 0; }

.footer_social .link_od {
  width: 31px;
  background-position: -64px 0; }

.footer_social .link_f {
  background-position: -95px 0; }

.footer_phone {
  position: relative; }
  .footer_phone:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: -21px;
    width: 15px;
    height: 15px;
    background: url(../image/phone_icon.png);
    background-position: 0 0;
    background-repeat: no-repeat; }
  .footer_phone p {
    font-size: 12px;
    line-height: 20px; }
  .footer_phone span {
    font-size: 14px; }
  .footer_phone .footer_order {
    display: block;
    margin-top: 20px;
    width: 205px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    padding-top: 6px;
    text-transform: uppercase;
    background: linear-gradient(2deg, #ff2da2 0%, #ff61b9 100%); }

.footer_ref {
  display: block;
  margin: 0 auto;
  width: 10%; }
