/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Arial, sans-serif;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #000100;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*

================================================================================
|                                     MAIN STYLES                                     |
================================================================================
*/
.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  min-height: 100%; }

.wrapper {
  min-width: 320px;
  max-width: 1440px;
  padding: 0 45px 0 45px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 1em;
  line-height: 1.1em;
  padding: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f; }

h1 {
  font-size: 2em;
  line-height: 1.1em;
  padding: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f; }

h2 {
  font-size: 1.8em;
  line-height: 1.1em;
  padding: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     VARIABLE                                 |
================================================================================
*/
@font-face {
  font-family: "pt_sans_regular";
  src: url("../fonts/pt_sans_regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PTS75F";
  src: url("../fonts/PTS75F.ttf");
  font-weight: normal;
  font-style: normal; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header_wrapper {
  min-width: 320px;
  max-width: 1242px;
  margin: 0 auto; }

.moby_header {
  display: none; }

header {
  width: 100%;
  min-width: 320px;
  text-align: left;
  z-index: 1; }
  header .header_logo {
    float: left;
    margin: 35px 43px 0 17px; }
    header .header_logo .text {
      margin-top: 5px;
      font-family: pt_sans_regular;
      font-size: 14px;
      color: #747688; }
  header .phone {
    display: inline-block;
    margin-top: 40px;
    font-size: 21px;
    color: #181616; }
  header .right {
    margin-top: 38px;
    margin-right: 10px;
    float: right;
    font-size: 14px;
    font-family: pt_sans_regular; }
  header .working {
    margin-bottom: 2px;
    color: #cb944c; }
  header .delivery {
    color: #2b3056; }

.form_search {
  width: 40%;
  float: left;
  margin-top: 30px;
  margin-right: 87px;
  position: relative; }
  .form_search .input_search {
    height: 40px;
    width: 100%;
    font-family: pt_sans_regular;
    font-size: 1em;
    border: 1px solid #b9b8bd;
    border-radius: 4px;
    padding: 0 35px 0 10px; }
  .form_search .input_submit {
    background: #fff;
    background-image: url(../img/1.svg);
    background-repeat: no-repeat;
    background-position: 1px 7px;
    background-size: 96%;
    -ms-transform: rotate(273deg);
        transform: rotate(273deg);
    width: 36px;
    height: 37px;
    position: absolute;
    right: 3px;
    top: 2px;
    border: 0; }

.main_menu {
  margin-top: 12px;
  position: relative;
  line-height: 55px;
  border-top: 1px solid #dddfdf;
  border-bottom: 1px solid #dddfdf; }
  .main_menu:after {
    content: '';
    display: block;
    width: 17px;
    height: 12px;
    position: absolute;
    top: 23px;
    left: 17px;
    background: url(../img/menu_icon.png);
    background-repeat: no-repeat; }
  .main_menu nav {
    float: left; }
    .main_menu nav > ul > li:first-child {
      margin: 0 20px 0 43px; }
    .main_menu nav .dropdown-toggle {
      position: relative; }
  .main_menu .main_link {
    margin: 0 4px 0 16px;
    display: inline-block;
    font-size: 16px;
    font-family: PTS75F; }
  .main_menu .dropdown-menu {
    display: none;
    position: absolute;
    width: 245px;
    padding: 10px 0px;
    margin-top: 10px;
    margin-left: -40px;
    line-height: 16px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #dddfdf;
    box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75);
    z-index: 1000; }
    .main_menu .dropdown-menu > li {
      position: relative;
      list-style: none; }
      .main_menu .dropdown-menu > li:before {
        content: '';
        position: absolute;
        display: block;
        top: 13px;
        left: 13px;
        width: 6px;
        height: 6px;
        border: 1px solid #cb944c;
        border-radius: 50%; }
    .main_menu .dropdown-menu a {
      padding: 9px 30px;
      display: block;
      font-family: pt_sans_regular;
      font-size: 15px;
      color: #666; }
      .main_menu .dropdown-menu a:hover {
        background: #e9e9ea; }
  .main_menu .dropdown {
    position: relative; }
    .main_menu .dropdown i {
      content: '';
      display: block;
      position: absolute;
      top: 25px;
      right: -20px;
      width: 12px;
      height: 8px;
      background-image: url(../img/mini_arrow.png);
      background-repeat: no-repeat;
      cursor: pointer; }
  .main_menu .inner__dropdown-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 245px;
    padding: 10px 0;
    margin-top: -1px;
    margin-left: 246px;
    line-height: 16px;
    top: -10px;
    transition-delay: 0.2s;
    line-height: 16px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #dddfdf;
    box-shadow: 10px 10px 6px -9px rgba(0, 0, 0, 0.75);
    z-index: 1000; }
    .main_menu .inner__dropdown-menu > li {
      position: relative;
      list-style: none; }
      .main_menu .inner__dropdown-menu > li:before {
        content: '';
        position: absolute;
        display: block;
        top: 13px;
        left: 13px;
        width: 6px;
        height: 6px;
        border: 1px solid #cb944c;
        border-radius: 50%; }
    .main_menu .inner__dropdown-menu .dropdown_title {
      margin: 10px 0 10px 13px;
      font-family: PTS75F;
      font-size: 18px;
      color: #cb944c;
      list-style: none;
      text-transform: uppercase; }
      .main_menu .inner__dropdown-menu .dropdown_title:before {
        display: none; }
  .main_menu .inner_dropdown i {
    top: 14px;
    right: 16px;
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    z-index: 1111; }
  .main_menu .inner_dropdown:hover .inner__dropdown-menu {
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible; }
  .main_menu .open {
    display: block; }

.navbar_right {
  float: right; }
  .navbar_right .basked {
    float: left;
    position: relative; }
    .navbar_right .basked:after {
      content: '';
      display: block;
      width: 30px;
      height: 22px;
      position: absolute;
      top: 15px;
      left: -43px;
      background-image: url(../img/3.svg);
      background-size: 100%;
      background-repeat: no-repeat; }
    .navbar_right .basked b {
      min-width: 24px;
      padding: 2px 7px;
      margin-right: 4px;
      font-family: PTS75F;
      font-size: 14px;
      border-radius: 50px;
      background-color: #cb944c;
      text-align: center;
      color: #fff; }
  .navbar_right .enter {
    float: right;
    position: relative;
    margin: 0px 15px 0 43px;
    cursor: pointer; }
    .navbar_right .enter:after {
      content: '';
      display: block;
      width: 26px;
      height: 26px;
      position: absolute;
      top: 19px;
      left: -32px;
      background-image: url(../img/2.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      z-index: -1; }
  .navbar_right p {
    padding: 19px 0 18px 0;
    font-family: PTS75F;
    font-size: 16px;
    color: #252a54; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  width: 100%;
  min-width: 320px;
  text-align: left; }

.slider {
  margin-top: 30px; }
  .slider .slick-next,
  .slider .slick-prev {
    width: 38px;
    height: 128px;
    background: #cb944c;
    opacity: 0.8; }
    .slider .slick-next:hover,
    .slider .slick-prev:hover {
      transition: all 0.2s ease-out;
      background: #fff;
      opacity: 0.8; }
      .slider .slick-next:hover:before,
      .slider .slick-prev:hover:before {
        background-image: url(../img/arrow_activ.png); }
  .slider .slick-prev {
    left: 0;
    z-index: 100; }
    .slider .slick-prev:hover:before {
      margin-left: 4px;
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
  .slider .slick-prev:before,
  .slider .slick-next:before {
    content: '';
    display: block;
    width: 20px;
    height: 30px;
    margin-left: 10px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat; }
  .slider .slick-next {
    right: 0;
    z-index: 1000; }
    .slider .slick-next:before {
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
      margin-left: 7px; }
    .slider .slick-next:hover:before {
      margin-left: 13px;
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }
  .slider .slick-slide {
    position: relative; }
  .slider .slider_text {
    height: 39%;
    margin: auto;
    position: absolute;
    padding: 34px 20px 32px 20px;
    top: 0;
    left: 80px;
    bottom: 0;
    right: auto;
    text-align: left;
    background: #cb944c;
    font-family: pt_sans_regular;
    font-size: 2rem;
    opacity: 0.8;
    color: #fff; }
  .slider .slick-dots li {
    width: 18px;
    height: 18px;
    margin: -7px 10px;
    background: #cb944c;
    border-radius: 50%;
    opacity: 0.33; }
  .slider .slick-dots .slick-active {
    opacity: 1; }
  .slider .slick-dots button:before {
    display: none; }

.moby_header {
  width: 100%; }

.tabs {
  position: relative;
  margin: 0 auto;
  width: 100%; }

.tabs > label {
  color: #dbdbdc;
  cursor: pointer;
  display: block;
  background: #f0f1f6;
  float: left;
  width: 16.66%;
  height: 45px;
  line-height: 45px;
  font-size: 1.5rem;
  position: relative;
  text-align: center; }

.tabs > input {
  position: absolute;
  left: -9999px; }

#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3,
#tab_4:checked ~ #tab_l4,
#tab_5:checked ~ #tab_l5,
#tab_6:checked ~ #tab_l6 {
  background: #3eade2;
  color: #fff;
  top: 0;
  z-index: 3; }

.tabs_cont {
  background: #fff;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2; }

.tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out; }

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4,
#tab_5:checked ~ .tabs_cont #tab_c5,
#tab_6:checked ~ .tabs_cont #tab_c6 {
  position: relative;
  left: 0;
  opacity: 1;
  overflow: hidden; }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  /*    background: #333;*/
  height: 81px;
  text-align: left;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  min-width: 320px; }

@media screen and (max-width: 1280px) {
  .header_wrapper {
    width: 100%;
    padding: 0 20px 0 20px; }
  .wrapper {
    padding: 0 20px 0 20px; }
  .form_search {
    width: 35%;
    margin-right: 50px; }
  .main_menu:after {
    top: 21px; }
  .main_menu .main_link {
    font-size: 14px; } }

@media screen and (max-width: 1140px) {
  header .phone {
    font-size: 19px; }
  .form_search {
    width: 30%; }
  .header_logo {
    width: 23%; }
    .header_logo img {
      width: 100%; }
  .navbar_right p {
    font-size: 14px; }
  .navbar_right .basked b {
    padding: 2px 6px;
    font-size: 12px; }
  nav > ul > li:first-child {
    margin: 0 20px 0 30px; }
  .main_menu .main_link {
    margin: 0 4px 0 10px;
    font-size: 12px; } }

@media screen and (max-width: 992px) {
  header .right {
    font-size: 12px; }
  nav {
    width: 100%; }
    nav > ul {
      width: 100%;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .main_menu .main_link {
    font-size: 14px; }
  header .phone {
    font-size: 16px; }
  .form_search {
    width: 28%;
    margin-right: 30px; }
  header .text {
    font-size: 12px; }
  header .header_logo {
    margin: 35px 35px 0 17px; }
  .form_search .input_submit {
    background-position: 4px 10px;
    background-size: 83%; }
  .navbar_right p {
    font-size: 12px; }
    .navbar_right p span {
      font-size: 14px; }
  .navbar_right .enter p {
    font-size: 14px; }
  .navbar_right .basked:after {
    left: -35px;
    background-size: 89%; } }

@media screen and (max-width: 768px) and (min-width: 320px) {
  .wrapper {
    padding: 0; }
  header {
    display: none; }
  .moby_header {
    display: block; }
  .header_logo {
    width: 60%;
    margin: 23px 0 0px 20px; }
    .header_logo .text {
      font-size: 16px;
      color: #747688; }
  .form_search {
    float: none;
    margin: 26px auto 0;
    width: 90%; }
    .form_search .input_search {
      font-size: 1.5em;
      height: 45px; }
  .navbar_right {
    float: left;
    margin: 26px 0px -5px 52px; }
    .navbar_right .enter {
      margin: -1px; }
  .header_right {
    margin: 20px 20px -3px 20px;
    font-size: 14px;
    color: #747688;
    line-height: 18px; }
  .min_block {
    font-size: 16px;
    margin: 20px 0px 0px 52px;
    font-size: pt_sans_regular; }
  .slider .slick-next,
  .slider .slick-prev {
    width: 35px;
    height: 60px; }
  .slider .slider_text {
    background: none;
    width: auto;
    height: auto;
    padding: 0;
    top: 40%;
    opacity: 1;
    font-size: 28px; } }
