@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Arial, sans-serif;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  font-size: 1px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #000100;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* titles */
p {
  font-size: 1em;
  line-height: 1.1em;
  font-weight: 400;
  color: #17202f; }

h1 {
  font-size: 2em;
  line-height: 1.1em;
  font-weight: 400;
  color: #17202f; }

h2 {
  font-size: 1.8em;
  line-height: 1.1em;
  font-weight: 400;
  color: #17202f; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../font/ProximaNova-Bold.eot");
  src: local("☺"), url("../font/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Bold.woff") format("woff"), url("../font/ProximaNova-Bold.ttf") format("truetype"), url("../font/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Extrabld";
  src: url("../font/ProximaNova-Extrabld.eot");
  src: local("☺"), url("../font/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Extrabld.woff") format("woff"), url("../font/ProximaNova-Extrabld.ttf") format("truetype"), url("../font/ProximaNova-Extrabld.svg#ProximaNova-Extrabld") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../font/ProximaNova-Semibold.eot");
  src: local("☺"), url("../font/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Semibold.woff") format("woff"), url("../font/ProximaNova-Semibold.ttf") format("truetype"), url("../font/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../font/ProximaNova-Regular.eot");
  src: local("☺"), url("../font/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Regular.woff") format("woff"), url("../font/ProximaNova-Regular.ttf") format("truetype"), url("../font/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

header {
  border-bottom: 1px solid #e1e1e1; }

.logo {
  display: inline-block;
  margin-top: 20px; }

nav {
  float: right; }
  nav li {
    line-height: 98px;
    margin: 0 18px -9px 30px;
    list-style: none;
    display: inline-block;
    *display: inline;
    /* ie7 */ }
    nav li:last-child {
      margin-right: 0; }
  nav a {
    font-family: ProximaNova-Bold;
    font-size: 18px;
    color: #000;
    line-height: 100%; }
    nav a:hover {
      color: #5292c6; }
  nav .current a {
    background: #999;
    color: #fff;
    border-radius: 3px; }

.main_body {
  background-image: url(../image/main_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%; }

.main_title {
  padding-top: 77px; }
  .main_title h1 {
    font-family: ProximaNova-Extrabld;
    font-size: 48px;
    line-height: 72px;
    color: #000; }

.form_request {
  display: table;
  margin: 221px auto 110px auto;
  position: relative; }

.btn_link:after {
  content: 'Укажите ваши контактные данные и получите от нас бесценные знания';
  position: absolute;
  width: 209px;
  height: 67px;
  background: rgba(204, 204, 204, 0.46);
  border-radius: 31px;
  line-height: 17px;
  right: 10px;
  top: 179px;
  padding: 8px 18px;
  color: #fff;
  font-family: ProximaNova-Regular;
  font-size: 11px;
  visibility: hidden; }

.btn_link:hover:after {
  transition: all 0.2s linear;
  visibility: visible; }

.title_request {
  text-align: center;
  margin-bottom: 18px; }
  .title_request h3 {
    font-family: ProximaNova-Semibold;
    font-size: 35px;
    line-height: 45px;
    color: #fff; }

.form_input {
  width: 270px;
  height: 52px;
  padding: 0 20px;
  border: 0;
  background: #fff;
  font-family: ProximaNova-Semibold;
  font-size: 18px;
  color: #999;
  margin: 0 30px 0 0px; }

.form_submit {
  width: 270px;
  height: 52px;
  margin-left: 0px;
  font-family: ProximaNova-Bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  border: 0;
  border-radius: 30px;
  background: #f0ec34;
  box-shadow: 0px 0px 32px -6px rgba(0, 0, 0, 0.75); }
  .form_submit:hover {
    transition: all 0.2s linear;
    background: #5292c6;
    color: #fff; }

.btn_link {
  padding: 15px; }

.slider_products {
  margin: 0 0px -49px 22px; }
  .slider_products .text_box {
    width: 44%;
    float: left;
    margin: 40px 0 85px 8px;
    position: relative; }
    .slider_products .text_box:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 20px;
      height: 2px;
      background: #fff; }
  .slider_products .board {
    width: 51%;
    height: 362px;
    margin-top: 9px;
    padding: 13px 0;
    float: right;
    border: 2px solid #fff;
    box-sizing: border-box;
    background: url(../image/board.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
    .slider_products .board .right_element {
      float: right;
      margin-right: 20px; }
    .slider_products .board .block_element {
      width: 100px;
      height: 100px;
      display: -webkit-box;
      margin: 7px 0 7px 0;
      background: #666; }
  .slider_products h5 {
    line-height: 34px;
    font-family: ProximaNova-Bold;
    font-size: 18px;
    color: #fff; }
  .slider_products p {
    line-height: 25px;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #fff; }
  .slider_products .slick-next {
    right: 27px;
    top: 101%; }
    .slider_products .slick-next:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 17px;
      height: 31px;
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
      background: url(../image/icon_triangle.png); }
    .slider_products .slick-next:before {
      content: 'вперед';
      position: absolute;
      top: 8px;
      left: -69px;
      font-family: ProximaNova-Regular;
      font-size: 15px;
      color: #fff; }
  .slider_products .slick-prev {
    left: 7px;
    top: 101%; }
    .slider_products .slick-prev:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0px;
      width: 17px;
      height: 31px;
      background: url(../image/icon_triangle.png); }
    .slider_products .slick-prev:before {
      content: 'назад';
      position: absolute;
      top: 8px;
      left: 38px;
      font-family: ProximaNova-Regular;
      font-size: 15px;
      color: #fff; }

.btn_download {
  position: relative;
  z-index: 50;
  line-height: 50px;
  height: 50px;
  margin: 36px auto 247px;
  display: block;
  text-align: center; }

.title_products {
  margin-bottom: 47px; }
  .title_products h2 {
    font-family: ProximaNova-Semibold;
    font-size: 52px;
    color: #fff; }

.title_slider {
  margin-bottom: 54px;
  font-family: ProximaNova-Bold;
  font-size: 26px;
  color: #fff;
  position: relative; }
  .title_slider:after {
    content: '';
    display: block;
    position: absolute;
    top: -34px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #fff; }
  .title_slider:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -34px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #fff; }

.title_advantegas h2 {
  margin-bottom: 93px;
  text-align: center;
  font-family: ProximaNova-Semibold;
  font-size: 52px;
  color: #000; }

.advantages_box {
  width: 100%; }
  .advantages_box ul {
    padding: 131px 0px 28px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: 1px solid #0377ba;
    box-sizing: border-box; }
  .advantages_box li {
    width: 155px;
    text-align: center;
    font-family: ProximaNova-Bold;
    font-size: 24px;
    color: #232323;
    list-style: none;
    position: relative; }
    .advantages_box li:after {
      content: '';
      display: block;
      width: 48px;
      height: 54px;
      background: url(../image/icons.png);
      position: absolute;
      top: -75px;
      left: 55px; }
    .advantages_box li p {
      font-family: ProximaNova-Bold;
      font-size: 24px;
      line-height: 27px;
      color: #000; }
  .advantages_box .list-2:after {
    background-position: -56px 0; }
  .advantages_box .list-3:after {
    background-position: -112px 0; }
  .advantages_box .list-4:after {
    background-position: -170px 0; }
  .advantages_box .list-5:after {
    width: 50px;
    background-position: -227px 0; }

.title_reviews {
  margin-top: 95px; }

.slider_reviews {
  margin: 0 100px; }
  .slider_reviews .avatar {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 70px;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid #0377ba;
    border-radius: 50%; }
  .slider_reviews .text_box {
    padding-top: 39px;
    width: 100%;
    position: relative; }
    .slider_reviews .text_box:after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 270px;
      width: 20px;
      height: 2px;
      background: #0377ba; }
  .slider_reviews p {
    line-height: 30px;
    font-family: ProximaNova-Regular;
    font-size: 20px;
    color: #000; }
  .slider_reviews span {
    display: inline-block;
    padding: 27px 0;
    color: #0377ba;
    font-family: ProximaNova-Bold;
    font-size: 16px; }
  .slider_reviews .slick-dots li button:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #0377ba;
    box-sizing: border-box;
    opacity: 1; }
  .slider_reviews .slick-dots li.slick-active button:before {
    background: #0377ba; }

.form_application {
  text-align: center; }
  .form_application form {
    padding: 35px 0;
    margin: 0 70px;
    background: #0377ba; }
  .form_application .promo_text {
    margin-top: 119px;
    margin-bottom: 26px;
    font-family: ProximaNova-Bold;
    font-size: 24px;
    color: #232323; }
  .form_application .title_aplcation {
    margin-bottom: 47px; }
    .form_application .title_aplcation h2 {
      font-family: ProximaNova-Semibold;
      font-size: 49px;
      color: #0377ba; }

.contacts {
  position: relative;
  padding-bottom: 95px;
  background: linear-gradient(171.7deg, #fff 29%, #0377ba 29%); }
  .contacts ul {
    padding: 142px 0px 30px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: 1px solid #0377ba;
    box-sizing: border-box;
    background: #fff; }
  .contacts li {
    width: 230px;
    text-align: center;
    font-family: ProximaNova-Bold;
    font-size: 24px;
    color: #232323;
    list-style: none;
    position: relative; }
    .contacts li:after {
      content: '';
      display: block;
      width: 41px;
      height: 56px;
      background: url(../image/icons_contact.png);
      position: absolute;
      top: -75px;
      left: 97px; }
    .contacts li span {
      font-family: ProximaNova-Bold;
      font-size: 18px;
      color: #000; }
    .contacts li p {
      font-family: ProximaNova-Regular;
      font-size: 18px;
      line-height: 27px;
      color: #000; }
  .contacts .list-2:after {
    width: 49px;
    left: 90px;
    background-position: -43px 0; }
  .contacts .list-3:after {
    width: 43px;
    left: 90px;
    height: 60px;
    background-position: -100px 0; }
  .contacts .list-4:after {
    width: 56px;
    left: 81px;
    background-position: -144px 0; }

.title_contacts {
  text-align: center;
  margin-top: 93px;
  margin-bottom: 83px; }
  .title_contacts h2 {
    font-family: ProximaNova-Semibold;
    font-size: 52px;
    color: #000; }

footer {
  text-align: left;
  width: 100%;
  min-width: 320px;
  background: #0377ba; }

.title_question {
  margin-bottom: 90px; }

.map {
  width: 50%;
  height: 510px;
  float: left; }

#googleMap {
  width: 100%;
  height: 100%; }

.form_question {
  padding: 30px;
  float: right;
  width: 50%;
  background: #f7f7f7;
  border-left: 1px solid #0377ba;
  box-sizing: border-box; }
  .form_question .form_input {
    width: 47%;
    float: left;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 27px; }
  .form_question .form_submit {
    display: block;
    margin: 0 auto 14px; }
  .form_question .form_email {
    display: block;
    width: 100%;
    margin: 0 auto 10px; }
  .form_question .input_phone {
    margin: 0; }

.form_textarea {
  margin: 0 auto;
  display: block;
  padding: 20px;
  width: 100%;
  height: 210px;
  margin-bottom: 50px;
  resize: none;
  position: relative;
  border: 0;
  font-size: 16px;
  font-family: ProximaNova-Semibold;
  color: #cccccc; }
  .form_textarea:after {
    content: '1000 Символов';
    font-size: 12px;
    font-family: ProximaNova-Semibold;
    color: #cccccc;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 10px;
    pointer-events: none; }

.footer_text {
  padding: 43px 0;
  text-align: center;
  font-family: ProximaNova-Bold;
  font-size: 18px;
  color: #fff; }

.f-nav {
  height: 65px;
  box-sizing: border-box;
  /*	padding: 0 110px;*/
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(13, 24, 30, 0.88);
  transition: all 0.3s ease-out;
  z-index: 9999;
  border-bottom: 0; }
  .f-nav .logo {
    margin-top: 7px; }
  .f-nav ul {
    display: block !important; }
  .f-nav nav li {
    line-height: 73px; }
  .f-nav a {
    color: #fff; }

@media screen and (max-width: 1170px) {
  .wrapper {
    padding: 0 20px; }
  .form_question .form_submit {
    margin: 0 auto 14px; }
  .form_request {
    margin: 90px auto 45px auto; }
  .slider_products .slick-prev {
    top: 95%; }
  .slider_products .slick-next {
    top: 95%; }
  .btn_download {
    margin: 36px auto 140px; } }

@media screen and (max-width: 1117px) {
  .wrapper {
    padding: 0 20px;
    overflow: hidden; }
  .main_title h1 {
    font-size: 46px;
    line-height: 55px; }
  .btn_download {
    margin: 36px auto 35px; }
  .title_advantegas h2 {
    margin-bottom: 50px; }
  .advantages_box ul {
    padding: 110px 0px 25px 0px; }
  .title_reviews {
    margin-top: 50px; }
  .slider_reviews {
    margin: 0; }
  .title_slider {
    margin-bottom: 35px; }
  .form_application .promo_text {
    margin-top: 50px; }
  .slider_products {
    margin: 0; }
  .form_input {
    width: 240px;
    margin: 0 10px 0 0px; }
  .title_contacts {
    margin-top: 50px; }
  .contacts ul {
    padding: 100px 0px 25px 0px; }
  .contacts {
    padding-bottom: 50px; }
  .title_question {
    margin-bottom: 50px; }
  .slider_products p {
    line-height: 21px; }
  .map {
    height: 436px; }
  .form_input {
    height: 45px; }
  .form_textarea {
    height: 150px; }
  .form_question .form_input {
    margin-right: 10px; } }

@media screen and (max-width: 992px) {
  nav a {
    font-size: 14px; }
  nav li {
    line-height: 90px;
    margin: 0 8px -9px 15px; }
  .main_title {
    padding-top: 30px; }
  .main_title h1 {
    font-size: 36px;
    line-height: 46px; }
  .title_request h3 {
    font-size: 30px;
    line-height: 35px; }
  .form_input {
    width: 220px; }
  .form_submit {
    width: 240px;
    height: 40px;
    font-size: 18px; }
  .title_products h2 {
    font-size: 45px; }
  .title_products {
    margin-bottom: 10px; }
  .slider_products .text_box {
    width: 50%;
    margin: 10px 0 40px 8px; }
  .title_slider {
    margin-bottom: 0px; }
  .title_slider:before {
    display: none; }
  .slider_products .text_box:after {
    display: none; }
  .slider_products .board {
    width: 48%;
    height: 250px; }
  .slider_products .board .block_element {
    width: 63px;
    height: 63px; }
  .btn_download {
    margin: 18px auto 32px;
    line-height: 40px; }
  .title_advantegas h2 {
    font-size: 40px;
    margin-top: 25px; }
  .advantages_box li p {
    font-size: 15px;
    line-height: 18px; }
  .slider_reviews .text_box {
    padding-top: 0px; }
  .slider_reviews p {
    font-size: 16px; }
  .form_application .title_aplcation h2 {
    font-size: 40px; }
  .form_application form {
    margin: 0; }
  .title_contacts h2 {
    font-size: 40px; }
  .title_contacts {
    margin-top: 30px;
    margin-bottom: 40px; }
  .slider_reviews .avatar {
    margin-right: 35px; }
  .contacts li p {
    font-size: 16px; }
  .contacts li:after {
    left: 43%; }
  .contacts .list-2:after {
    left: 43%; }
  .contacts .list-3:after {
    left: 43%; }
  .contacts .list-4:after {
    left: 42%; }
  .title_products {
    margin-bottom: 40px; }
  .map {
    height: 350px; }
  .form_question .form_input {
    width: 100%;
    margin: 0 0 10px 0; }
  .form_question {
    padding: 10px; }
  .form_textarea {
    margin-bottom: 15px; }
  .form_textarea {
    height: 96px; }
  .contacts {
    background: linear-gradient(171.7deg, #fff 50%, #0377ba 29%); }
  .slider_reviews .text_box:after {
    display: none; } }

@media screen and (max-width: 768px) and (min-width: 320px) {
  .form_application form {
    padding: 35px 10px; }
  .form_submit {
    margin: 0 auto;
    display: block; }
  .main_title h1 {
    font-size: 30px;
    line-height: 40px; }
  .title_request h3 {
    font-size: 25px;
    line-height: 30px; }
  .wrapper {
    padding: 0 10px; }
  .form_request {
    margin: 35px auto 30px auto; }
  .main_body {
    background: #0377ba; }
  .slider_products {
    /*background: #0377ba;*/ }
    .slider_products .text_box {
      width: 100%;
      margin-bottom: 25px;
      float: none; }
    .slider_products .board {
      width: 96%;
      margin: 0 auto 50px;
      float: none; }
    .slider_products p {
      line-height: 16px;
      font-size: 14px; }
  .title_advantegas h2 {
    font-size: 30px; }
  .advantages_box ul {
    display: block;
    padding-top: 10px; }
  .advantages_box li {
    display: inline-block;
    width: 50%;
    margin-top: 85px;
    padding: 0 5px; }
    .advantages_box li:after {
      left: 39%; }
  .slider_reviews .avatar {
    margin: 0 auto 20px;
    float: none; }
  .form_application .promo_text {
    margin-bottom: 10px;
    font-size: 18px; }
  .form_application .title_aplcation {
    margin-bottom: 25px; }
  .form_application .title_aplcation h2 {
    font-size: 32px; }
  .form_input {
    width: 100%;
    margin: 0 auto 10px; }
  .title_contacts h2 {
    font-size: 32px; }
  .contacts {
    margin-bottom: 20px; }
    .contacts ul {
      display: block;
      padding: 20px 0px 20px 0px; }
    .contacts li {
      margin-top: 21%;
      display: inline-block;
      width: 50%;
      font-size: 14px;
      list-style: 15px; }
  .title_products {
    margin-bottom: 20px; }
  .contacts {
    padding-bottom: 30px; }
  .title_products h2 {
    font-size: 35px; }
  .map {
    display: none; }
  .form_question {
    width: 100%; }
  .title_advantegas h2 {
    margin-bottom: 25px; }
  .btn_download {
    margin: -37px auto 20px !important; }
  .btn_link {
    margin: 10px auto 9px;
    font-size: 17px;
    line-height: 13px; }
  .slider_products .slick-prev:before,
  .slider_products .slick-next:before {
    display: none;
    content: ''; }
  .form_submit {
    margin: 0 auto;
    display: block; } }

@media screen and (max-width: 600px) {
  nav {
    position: relative;
    min-height: 40px; }
    nav:after {
      content: '☰';
      position: absolute;
      display: block;
      right: 15px;
      top: 25px;
      font-size: 30px;
      cursor: pointer;
      z-index: 1000; }
  nav ul {
    display: none;
    width: 100%;
    margin-right: 50px;
    padding: 22px 0px 10px 0px; }
  nav li {
    display: block;
    /* скрыть все <li> пункты */
    margin: 0; }
  nav .current {
    display: block;
    /* показывать только текущие активные <li> пункты */ }
  nav a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left; }
  nav .current a {
    background: none;
    color: #666; }
  /* при наведении на пункты меню */
  /*	nav ul:hover {
		background-image: none;
	}
	nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}*/
  nav ul:hover .current {
    background: url(images/icon-check.png) no-repeat 10px 7px; }
  .logo {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px; } }
