@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma,Arial, sans-serif;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"], button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #000100;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

input[type=submit], input[type=button], button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* titles */
p {
  font-size: 1em;
  line-height: 1.1em;
  padding: 0;
  font-weight: 400;
  color: #17202f; }

h1 {
  font-size: 2em;
  line-height: 1.1em;
  padding: 0px 0 0px 0;
  font-weight: 400;
  color: #17202f; }

h2 {
  font-size: 1.8em;
  line-height: 1.1em;
  padding: 0;
  font-weight: 400;
  color: #17202f; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/*@font-face {
font-family: "Roboto-Light";
  src: url("../font/Roboto-Light.eot");
  src: local('☺'), 
  url("../font/Roboto-Light.eot?#iefix") format("embedded-opentype"), 
  url("../font/Roboto-Light.woff") format("woff"),
  url("../font/Roboto-Light.ttf") format("truetype"), 
  url("../font/Roboto-Light.svg#RobotoLight") format("svg");

  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: "OpenSans-Light";
  src: local("☺"), url("../font/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: local("☺"), url("../font/PlayfairDisplay-Bold.otf") format("truetype"); }

@font-face {
  font-family: "PlayfairDisplaySC-Regular";
  src: local("☺"), url("../font/PlayfairDisplaySC-Regular.otf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Regular";
  src: local("☺"), url("../font/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Semibold";
  src: local("☺"), url("../font/OpenSans-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: local("☺"), url("../font/HelveticaNeueCyr-Light.otf") format("truetype"); }

.main-wrapper {
  padding: 0 0 0px 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #f5f5f5; }

.main_inner {
  min-width: 320px;
  max-width: 1265px;
  padding: 0 0px 0 0px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }

.content_inner {
  min-width: 320px;
  max-width: 1090px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*
================================================================================
|                                   VARIABLE                                     |
================================================================================
*/
/*
================================================================================
|                                                                      |
================================================================================
*/
.title {
  margin: 75px auto 70px;
  width: 415px;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  overflow: hidden; }
  .title .bg_text p {
    position: absolute;
    top: -29px;
    font-family: PlayfairDisplaySC-Regular;
    font-size: 136px;
    color: #6da3c7;
    opacity: 0.3;
    text-transform: uppercase; }
  .title h2 {
    padding: 15px 0 16px;
    font-family: PlayfairDisplay-Bold;
    font-size: 36px;
    color: #025377;
    text-transform: uppercase;
    position: relative;
    z-index: 10px; }
  .title span {
    display: block;
    padding-bottom: 20px;
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #025377;
    text-transform: uppercase;
    position: relative;
    z-index: 10px; }

.text_info h3 {
  margin-bottom: 35px;
  text-align: center;
  font-family: PlayfairDisplay-Bold;
  font-size: 24px;
  color: #025377;
  text-transform: uppercase; }

.text_info p {
  line-height: 24px;
  font-family: OpenSans-Light;
  font-size: 16px;
  color: #333333;
  text-align: center;
  padding: 0px 59px; }
  .text_info p span {
    font-family: OpenSans-Semibold; }

.avatar {
  width: 20%;
  margin: 30px auto 100px; }
  .avatar img {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px; }
  .avatar .text {
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #333333; }
  .avatar .name {
    font-family: OpenSans-Semibold;
    font-size: 16px;
    color: #333333; }

.advantages_item {
  width: 32%;
  height: 450px;
  float: left;
  position: relative;
  margin-right: 20px;
  margin-bottom: 70px; }
  .advantages_item .item_name {
    position: absolute;
    top: 30px;
    left: 30px; }
    .advantages_item .item_name p {
      font-family: PlayfairDisplaySC-Regular;
      font-size: 24px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .advantages_item .item_name span {
      font-family: HelveticaNeueCyr-Light;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase; }
  .advantages_item .slog {
    position: absolute;
    font-family: PlayfairDisplay-Bold;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    bottom: 30px;
    left: 30px; }
  .advantages_item:hover .inner_item, .advantages_item:focus .inner_item, .advantages_item:active .inner_item {
    opacity: 1; }

.inner_item {
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 83, 119, 0.6);
  opacity: 0; }
  .inner_item .text_iten {
    margin: 0 auto;
    padding-top: 95px;
    width: 280px;
    height: 385px;
    overflow: hidden; }
    .inner_item .text_iten p {
      line-height: 24px;
      font-family: OpenSans-Regular;
      font-size: 16px;
      color: #fff; }

.advantages_item1 {
  background-image: url(../image/bg_item.png); }

.advantages_item2 {
  background-image: url(../image/bg_item1.png); }

.advantages_item3 {
  background-image: url(../image/bg_item2.png);
  margin: 0; }

.rooms {
  background: #025377; }

.slider_rooms {
  padding: 70px 0 115px 0;
  margin-bottom: 0 !important;
  box-sizing: border-box; }
  .slider_rooms .block_info {
    height: 355px;
    width: 50%;
    padding: 40px 35px;
    background: #02686f;
    float: left;
    box-sizing: border-box; }
    .slider_rooms .block_info h3 {
      font-family: PlayfairDisplay-Bold;
      font-size: 24px;
      color: #fff;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .slider_rooms .block_info span {
      font-family: HelveticaNeueCyr-Light;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase; }
    .slider_rooms .block_info ul {
      margin: 12px 0px 15px 0; }
    .slider_rooms .block_info li {
      display: inline-block;
      width: 40px;
      height: 40px;
      list-style: none;
      margin-left: 4px;
      border-radius: 50%;
      border: 1px solid #fff; }
    .slider_rooms .block_info p {
      line-height: 24px;
      font-family: OpenSans-Regular;
      font-size: 14px;
      color: #fff; }
  .slider_rooms .block_img {
    float: left;
    width: 50%;
    height: 355px; }
    .slider_rooms .block_img img {
      width: 100%;
      height: 100%; }
  .slider_rooms .all_info {
    display: inline-block;
    margin-top: 30px;
    padding: 11px 20px;
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff; }
  .slider_rooms .slick-dots {
    bottom: 70px; }
    .slider_rooms .slick-dots li {
      width: 10px;
      height: 10px; }
  .slider_rooms .slick-dots li button {
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #fff; }
    .slider_rooms .slick-dots li button:before {
      display: none; }
  .slider_rooms .slick-active button {
    background: #fff !important; }

.title2 {
  width: 590px; }

.slider_reviews {
  width: 700px;
  height: 200px;
  margin: 0 auto 85px !important; }
  .slider_reviews .reviews_img {
    float: left;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 100%; }
  .slider_reviews h3 {
    font-family: PlayfairDisplay-Bold;
    font-size: 24px;
    color: #025377;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .slider_reviews p {
    line-height: 24px;
    font-family: OpenSans-Light;
    font-size: 14px;
    color: #333333; }
  .slider_reviews .work {
    margin-left: 150px;
    margin-top: 35px;
    line-height: 24px;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #333333; }
    .slider_reviews .work span {
      font-family: OpenSans-Semibold; }
  .slider_reviews .slick-dots li button {
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #025377; }
    .slider_reviews .slick-dots li button:before {
      display: none; }
  .slider_reviews .slick-active button {
    background: #025377 !important; }

footer {
  padding: 70px 0 30px 0;
  box-sizing: border-box;
  background: #02686f;
  text-transform: center; }

.logo_footer {
  text-align: center; }

.phone {
  margin-top: 40px;
  text-align: center;
  font-family: OpenSans-Light;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  position: relative; }
  .phone span {
    margin-left: 80px;
    position: relative; }
    .phone span:after {
      content: '';
      width: 39px;
      height: 40px;
      position: absolute;
      top: -12px;
      left: -52px;
      background: url(../image/iocns_footer.png);
      background-position: -26px 4px;
      border-radius: 50%;
      border: 1px solid #fff; }
  .phone:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: -12px;
    left: 15px;
    background: url(../image/iocns_footer.png);
    background-position: 6px 4px;
    border-radius: 50%;
    border: 1px solid #fff; }

.sdress {
  margin-top: 40px;
  text-align: center;
  font-family: OpenSans-Light;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  position: relative; }
  .sdress:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: -6px;
    left: -50px;
    background: url(../image/iocns_footer.png);
    background-position: 46px 4px;
    border-radius: 50%;
    border: 1px solid #fff; }

.cosials {
  margin: 30px 0;
  text-align: center; }
  .cosials li {
    margin: 0 4px;
    display: inline-block; }
    .cosials li a {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #fff; }

.date {
  text-align: center;
  font-family: OpenSans-Light;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase; }

.cosials .fa {
  font-size: 23px;
  padding-top: 9px;
  color: #fff; }

.cosials .fa-google-plus, .cosials .fa-vk {
  font-size: 17px;
  padding-top: 10px; }

.cosials .fa-instagram {
  font-size: 21px; }

.cosials .list2 {
  position: relative;
  top: -4px; }

.cosials .list3 {
  position: relative;
  top: -4px; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  width: 100%;
  min-width: 320px;
  position: relative; }

/*
================================================================================
|                                     GENERAL_PAGE                                 |
================================================================================
*/
header {
  background-image: url(../image/header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  /*	height: 100vh;*/ }

.top_line {
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden; }

.logo {
  float: left;
  margin: 13px 0  10px 0; }

nav {
  float: right; }

.main_menu {
  float: left; }
  .main_menu li {
    display: inline-block;
    line-height: 100px;
    margin-right: 16px;
    margin-left: 11px; }
    .main_menu li:last-child {
      margin: 0;
      left: 0; }
  .main_menu a {
    padding: 0 10px 20px 10px;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #fffc00;
    text-transform: uppercase; }
    .main_menu a:hover {
      border-bottom: 1px solid #fffc00; }
  .main_menu .active {
    border-bottom: 1px solid #fffc00; }

.language {
  float: right;
  margin-left: 37px; }
  .language a {
    display: block;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #fffc00;
    text-transform: uppercase; }
  .language .words1 {
    margin-top: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fffc00; }
  .language .words2 {
    padding-top: 10px; }

.center_block {
  margin: 250px 0 0px;
  padding-bottom: 260px;
  position: relative;
  top: 50%; }

.title_main h1 {
  font-family: PlayfairDisplay-Bold;
  font-size: 72px;
  color: #fff;
  text-transform: uppercase; }

.title_main span {
  display: block;
  padding: 30px 0 50px;
  font-family: PlayfairDisplay-Bold;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase; }

.btn_location {
  padding: 11px 20px;
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase; }

/*
================================================================================
|                                     lacation                                 |
================================================================================
*/
.header_location {
  background: url(../image/location.jpg); }

.location_title {
  padding-bottom: 95px; }
  .location_title h1 {
    margin-top: 87px;
    margin-bottom: 11px;
    font-family: PlayfairDisplay-Bold;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase; }
  .location_title span {
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase; }

.text_conten {
  padding: 70px 70px 60px 70px; }
  .text_conten p {
    line-height: 24px;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #333333;
    text-align: center; }
    .text_conten p span {
      font-family: OpenSans-Semibold; }

.beach {
  overflow: hidden;
  background: #f0f2f5;
  margin-bottom: 80px; }
  .beach .left_block {
    overflow: hidden;
    background-image: url(../image/beach_bg1.jpg);
    background-repeat: no-repeat; }
  .beach .block_info {
    margin: 100px 10px 100px;
    width: 410px;
    float: right;
    padding: 25px;
    box-sizing: border-box;
    background: #02686f; }
    .beach .block_info h2 {
      margin-bottom: 15px;
      font-family: PlayfairDisplay-Bold;
      font-size: 24px;
      color: #fff;
      text-transform: uppercase; }
    .beach .block_info span {
      display: block;
      font-family: OpenSans-Regular;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 40px; }
    .beach .block_info p {
      line-height: 20px;
      font-family: OpenSans-Regular;
      font-size: 16px;
      color: #fff; }
    .beach .block_info .btn_map {
      margin-top: 30px; }
  .beach .right_block {
    overflow: hidden;
    background-image: url(../image/beach_bg2.jpg);
    background-repeat: no-repeat;
    background-position: right; }
    .beach .right_block .block_info {
      float: left; }

.btn {
  display: inline-block;
  padding: 11px 20px;
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff; }

/*
================================================================================
|                                     GELERY                                |
================================================================================
*/
.header_gellery {
  background-image: url(../image/galery.jpg); }

.title_gellery h2 {
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 24px;
  font-family: PlayfairDisplay-Bold;
  color: #025377;
  text-align: center;
  text-transform: uppercase; }

.content_gellery {
  margin-bottom: 100px; }

.slider_gellery {
  width: 740px;
  height: 500px !important;
  margin: 0 auto; }
  .slider_gellery .slick-dots {
    bottom: -50px; }
  .slider_gellery .slick-dots li button {
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #025377; }
    .slider_gellery .slick-dots li button:before {
      display: none; }
  .slider_gellery .slick-active button {
    background: #025377 !important; }
  .slider_gellery .slick-prev, .slider_gellery .slick-next {
    height: 58px;
    width: 21px;
    background: url(../image/arrow.png); }
    .slider_gellery .slick-prev:before, .slider_gellery .slick-next:before {
      display: none; }
  .slider_gellery .slick-prev {
    left: -85px; }
  .slider_gellery .slick-next {
    right: -85px;
    background: url(../image/arrow2.png); }

/*
================================================================================
|                                     CONTACT                                |
================================================================================
*/
.header_contact {
  background-image: url(../image/cantact.jpg); }

#googleMap {
  margin-top: 100px;
  width: 100%;
  height: 450px; }

.contant_title {
  text-align: center;
  margin: 75px 0 35px; }
  .contant_title h1, .contant_title h2 {
    font-size: 24px;
    font-family: PlayfairDisplay-Bold;
    color: #025377;
    text-transform: uppercase; }

.contact_text p {
  line-height: 24px;
  font-family: OpenSans-Light;
  font-size: 16px;
  color: #333333;
  text-align: center; }
  .contact_text p span {
    font-family: OpenSans-Semibold; }

.cont_block {
  margin-top: 60px;
  float: left;
  width: 50%;
  text-align: center;
  position: relative; }
  .cont_block:after {
    content: '';
    display: block;
    position: absolute;
    top: -57px;
    left: 50%;
    margin-left: -19px;
    width: 41px;
    height: 40px;
    background: url(../image/icons.png); }
  .cont_block h3 {
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #025377;
    text-transform: uppercase; }
  .cont_block p {
    margin: 25px 0;
    line-height: 24px;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #333333;
    text-align: center; }
  .cont_block span {
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #025377;
    text-align: center;
    text-transform: uppercase; }

.b_mail:after {
  margin-left: -23px;
  background-position: 41px 0; }

.contact_form {
  margin-top: 75px;
  padding-bottom: 60px;
  text-align: center;
  background: #025377; }
  .contact_form h4 {
    padding-top: 75px;
    font-size: 24px;
    font-family: PlayfairDisplay-Bold;
    color: #fff;
    text-transform: uppercase; }
  .contact_form p {
    margin: 25px 0;
    line-height: 24px;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #fff;
    text-align: center; }
  .contact_form form {
    width: 700px;
    margin: 0 auto;
    position: relative; }
  .contact_form .form_input {
    display: block;
    width: 340px;
    height: 60px;
    margin-bottom: 30px;
    padding: 0 10px 0 30px;
    border: 0;
    background: #fff;
    font-size: 16px;
    font-family: OpenSans-Light;
    color: #333333;
    text-transform: uppercase; }
  .contact_form textarea {
    position: absolute;
    bottom: 76px;
    right: 0;
    width: 340px;
    height: 240px;
    padding: 10px 10px 10px 20px;
    resize: none;
    border: 0;
    background: #fff;
    font-size: 16px;
    font-family: OpenSans-Light;
    color: #333333;
    text-transform: uppercase; }
  .contact_form .input_submit {
    text-transform: uppercase;
    background: transparent; }

/*
================================================================================
|                                     ACTIVITY                               |
================================================================================
*/
.header_activity {
  background-image: url(../image/activity.jpg); }

.content_activiti .text {
  text-align: center;
  padding: 0 160px; }
  .content_activiti .text h1 {
    margin: 75px 0 35px 0;
    font-size: 24px;
    font-family: PlayfairDisplay-Bold;
    color: #025377;
    text-transform: uppercase; }
  .content_activiti .text p {
    line-height: 24px;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #333333;
    text-align: center; }

.content_activiti .plues {
  text-align: center; }
  .content_activiti .plues li {
    margin-top: 110px;
    float: left;
    width: 25%;
    list-style: none;
    display: inline-block;
    position: relative; }
    .content_activiti .plues li:after {
      content: '';
      display: block;
      position: absolute;
      top: -57px;
      left: 50%;
      margin-left: -19px;
      width: 41px;
      height: 40px;
      background: url(../image/activity.png);
      background-position: 6px; }
  .content_activiti .plues span {
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #025377;
    text-transform: uppercase; }
  .content_activiti .plues p {
    margin: 25px 0;
    line-height: 24px;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #333333;
    text-align: center; }
  .content_activiti .plues .list2:after {
    background-position: -34px 49px; }
  .content_activiti .plues .list3:after {
    background-position: -77px 49px; }
  .content_activiti .plues .list4:after {
    background-position: -123px 49px; }
  .content_activiti .plues .list5:after {
    background-position: -163px 51px;
    width: 40px; }
  .content_activiti .plues .list6:after {
    background-position: -203px 49px; }
  .content_activiti .plues .list7:after {
    background-position: -252px 48px; }
  .content_activiti .plues .list8:after {
    background-position: -308px 49px; }

.content_activiti .tours {
  overflow: hidden;
  margin-bottom: 65px; }
  .content_activiti .tours h3 {
    text-align: center;
    margin: 75px 0 35px 0;
    font-size: 24px;
    font-family: PlayfairDisplay-Bold;
    color: #025377;
    text-transform: uppercase; }
  .content_activiti .tours .text_tours {
    width: 50%;
    float: left;
    padding-right: 20px;
    text-align: left; }
    .content_activiti .tours .text_tours h4 {
      text-align: left;
      margin: 39px 0 30px 0;
      font-size: 24px;
      font-family: PlayfairDisplay-Bold;
      color: #025377;
      text-transform: uppercase; }
    .content_activiti .tours .text_tours p {
      text-align: left;
      line-height: 24px;
      font-family: OpenSans-Light;
      font-size: 14px;
      color: #333333; }
  .content_activiti .tours img {
    width: 50%;
    float: right; }
  .content_activiti .tours .btn_tours {
    margin-top: 30px;
    color: #025377;
    border: 1px solid #025377; }

/*
================================================================================
|                                     ROOM                                      |
================================================================================
*/
.header_room {
  background-image: url(../image/room.jpg); }

.slider_roomes {
  width: 740px;
  margin: 70px auto 70px; }
  .slider_roomes img {
    width: 100%; }
  .slider_roomes .slick-dots {
    bottom: -40px; }
  .slider_roomes .slick-dots li button {
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #025377; }
    .slider_roomes .slick-dots li button:before {
      display: none; }
  .slider_roomes .slick-active button {
    background: #025377 !important; }

.content_rooms {
  margin-top: 50px; }
  .content_rooms .left_block {
    margin-bottom: 70px;
    width: 49%;
    float: left; }
    .content_rooms .left_block p {
      line-height: 24px;
      font-family: OpenSans-Light;
      font-size: 16px;
      color: #333333; }
  .content_rooms .right_block {
    width: 49%;
    float: right; }
    .content_rooms .right_block h2 {
      margin-bottom: 25px;
      font-size: 24px;
      font-family: PlayfairDisplay-Bold;
      color: #025377;
      text-transform: uppercase; }
    .content_rooms .right_block h3 {
      margin-bottom: 5px;
      font-size: 36px;
      font-family: PlayfairDisplay-Bold;
      color: #025377;
      text-transform: uppercase; }
    .content_rooms .right_block p {
      line-height: 24px;
      font-family: OpenSans-Regular;
      font-size: 16px;
      color: #025377; }

.list_icon {
  margin-top: 30px; }
  .list_icon li {
    margin: 0 4px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #025377;
    position: relative; }
    .list_icon li:after {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 23px;
      margin-left: -19px;
      width: 25px;
      height: 20px;
      background: url(../image/icon_qw.png);
      background-position: 0px; }
  .list_icon .list2:after {
    background-position: -25px;
    top: 8px;
    left: 25px; }
  .list_icon .list3:after {
    top: 9px;
    left: 27px;
    background-position: 22px; }

/*
================================================================================
|                                     ROOM _ PAGE                                    |
================================================================================
*/
.header_room_page {
  background-image: url(../image/room_page.jpg); }

.content_room_page {
  margin-top: 75px; }

.block_room {
  height: 358px;
  margin-bottom: 50px;
  overflow: hidden;
  background: #02686f;
  position: relative; }
  .block_room .left_block {
    width: 50%;
    float: left;
    padding: 35px 30px 30px; }
    .block_room .left_block h1 {
      margin-bottom: 25px;
      font-size: 24px;
      font-family: PlayfairDisplay-Bold;
      color: #fff;
      text-transform: uppercase; }
    .block_room .left_block p {
      line-height: 24px;
      font-family: OpenSans-Regular;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase; }
  .block_room img {
    width: 50%;
    float: right; }
  .block_room .btn_room {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    left: 30px; }

.list_icon2 {
  margin-top: 30px;
  margin-bottom: 20px; }
  .list_icon2 li {
    margin: 0 4px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative; }
    .list_icon2 li:after {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 28px;
      margin-left: -19px;
      width: 20px;
      height: 20px;
      background: url(../image/icons_room.png);
      background-position: 0px; }
  .list_icon2 .list2:after {
    background-position: -20px;
    top: 9px;
    left: 28px;
    width: 18px; }
  .list_icon2 .list3:after {
    top: 9px;
    left: 27px;
    background-position: -38px;
    width: 18px; }
  .list_icon2 .list4:after {
    top: 9px;
    left: 29px;
    background-position: -56px;
    width: 18px; }
  .list_icon2 .list5:after {
    top: 9px;
    left: 28px;
    background-position: -78px;
    width: 20px; }
  .list_icon2 .list6:after {
    top: 9px;
    left: 28px;
    background-position: -100px;
    width: 20px; }

#nav-icon3 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 33px;
  right: 50px;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none; }

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #025377;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  transition: .25s ease-in-out; }

#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 11px; }

#nav-icon3 span:nth-child(4) {
  top: 23px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.inner_footer {
  width: 490px;
  margin: 0 auto; }

@media screen and (max-width: 1265px) {
  .main_inner {
    padding: 0 15px; } }

@media screen and (max-width: 1117px) {
  .main_menu li {
    margin: 0; }
  .language {
    margin-left: 10px; }
    .language a {
      font-size: 12px; }
    .language .language .words1 {
      margin-top: 28px; }
  .advantages_item {
    width: 32%;
    height: 450px;
    float: left;
    position: relative;
    margin-right: 12px; }
  .slider_gellery {
    width: 80%;
    height: 372px !important; }
    .slider_gellery .slick-slide img {
      width: 100%;
      height: 365px; }
  .block_room {
    height: auto; } }

@media screen and (max-width: 992px) {
  .main_menu a {
    padding: 0 5px 20px 5px;
    font-family: OpenSans-Light;
    font-size: 14px; }
  .slider_rooms .block_info {
    height: 355px;
    width: 50%;
    padding: 20px 20px; }
  .slider_rooms .block_info p {
    line-height: 19px; }
  .advantages_item {
    width: 48%;
    background-size: 100%;
    margin-bottom: 20px; }
  .text_conten {
    padding: 20px 0px 30px 0px; }
  .content_activiti .text {
    padding: 0 40px; }
  .content_activiti .plues li {
    margin-top: 90px;
    float: left;
    width: 50%; }
  .content_activiti .tours .text_tours h4 {
    margin: 0px 0 15px 0;
    font-size: 20px; }
  .content_activiti .tours img {
    width: 45%; }
  .content_activiti .tours .text_tours {
    width: 55%; }
  .block_room .left_block {
    padding: 15px 15px 15px; }
  .block_room .left_block p {
    line-height: 20px;
    font-size: 14px; }
  .block_room .btn_room {
    bottom: 15px;
    left: 15px; } }

@media screen and (max-width: 768px) and (min-width: 320px) {
  .main_menu ul {
    display: none; }
  .main_menu #nav-icon3 {
    display: block; }
  .main_menu li {
    width: 100%;
    display: inline-block;
    line-height: 30px; }
    .main_menu li .active {
      border: 0; }
  .main_menu a {
    padding: 0;
    width: 100%;
    text-align: center;
    display: block; }
  .language {
    position: absolute;
    top: -1px;
    right: 17px; }
  .logo {
    width: 35%; }
    .logo img {
      width: 100%; }
  .center_block {
    margin: 100px 0 0px;
    padding-bottom: 150px; }
  .title_main h1 {
    font-size: 40px; }
  .title {
    width: 305px;
    margin: 40px auto 40px; }
  .title .bg_text p {
    top: -6px;
    font-size: 98px; }
  .title h2 {
    padding: 21px 0 10px;
    font-size: 30px; }
  .text_info h3 {
    margin-bottom: 25px;
    font-size: 18px; }
  .text_info p {
    padding: 0;
    font-size: 14px; }
  .avatar {
    width: 205px; }
  .sdress:after,
  .phone:after,
  .phone span:after {
    display: none; }
  .inner_footer {
    width: 100%; }
  .phone span {
    margin-left: 35px; }
  .sdress,
  .phone {
    font-size: 12px;
    margin-top: 25px; }
  footer {
    padding: 35px 0 15px 0; }
  .advantages_item {
    width: 100%;
    background-size: 100%;
    margin-bottom: 20px; }
  .title span {
    font-size: 12px; }
  .slider_reviews {
    width: 100%; }
  .slider_reviews h3 {
    font-size: 16px;
    margin-bottom: 5px; }
  .slider_reviews p {
    line-height: 17px;
    font-size: 12px; }
  .slider_reviews .reviews_img {
    display: none; }
  .slider_reviews .work {
    margin-left: 0px;
    margin-top: 5px; }
  .slider_rooms .block_img {
    width: 100%;
    height: auto; }
  .slider_rooms .block_info {
    height: 355px;
    width: 100%; }
  .slider_rooms {
    padding: 40px 0 100px 0;
    width: 100%; }
  .slider_rooms .block_info h3 {
    font-size: 18px;
    margin-bottom: 5px; }
  .beach .left_block {
    background-position: right; }
  .beach .block_info {
    margin: 50px 10px 50px 10px;
    width: 97%;
    padding: 15px; }
  .slider_gellery {
    width: 100%;
    height: 250px !important; }
    .slider_gellery .slick-slide img {
      width: 100%;
      height: auto; }
    .slider_gellery .slick-prev {
      left: -60px; }
    .slider_gellery .slick-next {
      right: -60px; }
  #googleMap {
    margin-top: 50px;
    height: 350px; }
  .cont_block p {
    margin: 15px 0;
    line-height: 17px;
    font-size: 12px; }
  .contant_title h1, .contant_title h2 {
    font-size: 19px; }
  .contant_title {
    margin: 40px 0 35px; }
  .contact_form .form_input {
    margin-bottom: 15px;
    width: 100%; }
  .contact_form textarea {
    position: initial;
    width: 100%;
    height: 120px;
    margin-bottom: 15px; }
  .contact_form form {
    width: 100%; }
  .content_activiti .tours img {
    width: 100%; }
  .content_activiti .tours .text_tours {
    width: 100%;
    padding-right: 0px; }
  .content_activiti .text {
    padding: 0 0px; }
  .content_activiti .text h1 {
    margin: 45px 0 25px 0; }
  .content_activiti .plues li {
    height: 115px; }
  .content_rooms .left_block {
    margin-bottom: 30px;
    width: 100%; }
  .content_rooms .right_block {
    width: 100%;
    margin-bottom: 20px; }
  .slider_roomes {
    width: 100%; }
  .block_room .left_block {
    width: 100%;
    float: none; }
  .block_room img {
    width: 100%; } }

@media screen and (max-width: 375px) {
  .beach .block_info p {
    font-size: 14px; }
  .beach .block_info span {
    font-size: 13px;
    padding-bottom: 15px; }
  .text_conten p {
    line-height: 20px;
    font-size: 14px; } }
