# -FrontPage-
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

AddDefaultCharset WINDOWS-1251


<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

#RemoveHandler .html .htm 
#AddType application/x-httpd-php .php .htm .html .phtml 

IndexIgnore *

ErrorDocument 404 /


<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

RewriteRule ^act/(.*)$ /index.php
RewriteRule ^act /index.php

RewriteRule ^register/(.*)$ /index.php
RewriteRule ^register /index.php

RewriteRule ^allteams/(.*)$ /index.php
RewriteRule ^allteams /index.php

RewriteRule ^team/(.*)$ /index.php
RewriteRule ^team /index.php

RewriteRule ^allusers/(.*)$ /index.php
RewriteRule ^allusers /index.php

RewriteRule ^user/(.*)$ /index.php
RewriteRule ^user /index.php

RewriteRule ^menu/(.*)$ /index.php
RewriteRule ^menu /index.php

RewriteRule ^downmenu/(.*)$ /index.php
RewriteRule ^downmenu /index.php

RewriteRule ^article/(.*)$ /index.php
RewriteRule ^article /index.php

RewriteRule ^cabinet/(.*)$ /index.php
RewriteRule ^cabinet /index.php

RewriteRule ^archieve/(.*)$ /index.php
RewriteRule ^archieve /index.php

RewriteRule ^blogs/(.*)$ /index.php
RewriteRule ^blogs /index.php

RewriteRule ^blogmaterial/(.*)$ /index.php
RewriteRule ^blogmaterial /index.php

RewriteRule ^oneblog/(.*)$ /index.php
RewriteRule ^oneblog /index.php

RewriteRule ^subscribe/(.*)$ /index.php
RewriteRule ^subscribe /index.php

RewriteRule ^about/(.*)$ /index.php
RewriteRule ^about /index.php

RewriteRule ^map/(.*)$ /index.php
RewriteRule ^map /index.php

RewriteRule ^about/(.*)$ /index.php
RewriteRule ^about /index.php

RewriteRule ^terms/(.*)$ /index.php
RewriteRule ^terms /index.php

RewriteRule ^birthday/(.*)$ /index.php
RewriteRule ^birthday /index.php

RewriteRule ^anons/(.*)$ /index.php
RewriteRule ^anons /index.php

RewriteRule ^vbr/(.*)$ /index.php
RewriteRule ^vbr /index.php

RewriteRule ^advertising/(.*)$ /index.php
RewriteRule ^advertising /index.php

RewriteRule ^feedback/(.*)$ /index.php
RewriteRule ^feedback /index.php

RewriteRule ^verifysubscribe/(.*)$ /index.php
RewriteRule ^verifysubscribe /index.php

RewriteRule ^oksubscribe/(.*)$ /index.php
RewriteRule ^oksubscribe /index.php

</IfModule>
AddHandler x-httpd-php5all .php .php3 .php4 .php5 .phtml # phpvs v5all
